# 따옴표 안에 적으시면 됩니다.

#트윗정리용 노션 DB
NOTION_TOKEN_ttt = ""
DATABASE_ID_ttt=""

#북마크 정리용 노션 DB
NOTION_TOKEN_ttb = ""
DATABASE_ID_ttb=""

OPENAI_API_KEY=""
GEMINI_API_KEY=""

#트위터 API용 키
CLIENT_ID = ""
CLIENT_SECRET = ""
REDIRECT_URI = ""

#트위터 계정 토큰
twt_token1 = ""

#더 필요하면 더 적고 코드를 수정하세요 . . . 이런식으로 추가해서 . . .
twt_token2 = ""
